
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Calendario de solicitudes</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12 mb-3">
                <label for="sectorSolicitado">Sector solicitado</label>
                <input type="text" class="form-control" id="sectorSolicitado" placeholder="" value="">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="fechaHoraInicio">Fecha inicio</label>
                <input type="text" class="form-control" id="fechaHoraInicio" placeholder="" value="">
            </div>
            <div class="col-md-6 mb-3">
                <label for="fechaHoraFin">Fecha  fin</label>
                <input type="text" class="form-control" id="fechaHoraFin" placeholder="" value="">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="rutSolicitante">Rut solicitante</label>
                <input type="text" class="form-control" id="rutSolicitante" placeholder="" value="">
            </div>
            <div class="col-md-6 mb-3">
                <label for="nombreSolicitante">Nombre</label>
                <input type="text" class="form-control" id="nombreSolicitante" placeholder="" value="">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="CasaDepto">Casa / Depto</label>
                <input type="text" class="form-control" id="CasaDepto" placeholder="" value="">
            </div>
            <div class="col-md-6 mb-3">
                <label for="ubicacion">Ubicación</label>
                <input type="text" class="form-control" id="ubicacion" placeholder="" value="">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary">Crear</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
    </div>
</div>