
# Visual Studio Code
.vscode

# Visual Studio 2019
.vs/
# packages/
#**/obj/
#**/bin/


# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
*.user
*.dbmdl
*.pdf



# Build results
# [Dd]ebug/
# [Dd]ebugPublic/
# [Rr]elease/
# [Rr]eleases/
# x64/
# x86/
# build/
# bld/
# [Bb]in/
# [Oo]bj/
# msbuild.log
# msbuild.err
# msbuild.wrn


# Kubernetes deployment
# kompose.*
# *-deployment.yml
# *-deployment.yaml
# *-service.yaml
# *-pod.yaml
# *-ingress.yaml
# \.sonarqube/
# \.sonarlint/
# */wwwroot/lib


